extends layout
include mixins/_home-button

block content

    .container  

        .row

            h2= title
                

            .grid#sliphover
                .grid-sizer
                    each slika in slike
                       
                        .grid-item.sliphover-target( data-caption=`<a href="#${slika._id}" class="modal-trigger sliphover-izbrisi"><i class="material-icons medium">cancel</i></a>`)
                            //- a.modal-trigger(href=`#${slika._id}`)
                            //-         i.material-icons.medium cancel
                            
                            img(src=`./images/thumbs/thumb_${slika.thumb}`)  
                            
                        div(id= slika._id).modal.izbrisi-sliku-modal
                            .modal-content
                                h5 Da li zaista želite da uklonite fotografiju?
                            .modal-footer
                                a.modal-action.modal-close.btn-flat(href=`/slika/${slika._id}/ukloni`) Ukloni fotografiju
                                a.modal-action.modal-close.btn-flat(href='#!') Zatvori
    +home-button