extends layout


block content
    .container 
        .row
            h2= title
            hr

                     
            each zemlja in zemlje
                a(href=`/zemlje/${zemlja._id}`) 
                    Button.btn.waves-effect.waves-light.btn-zemlja.brown #{zemlja._id} - (#{zemlja.count}) 
                     
           
            br
            br
            hr
            each vino in vina
                
                a.modal-trigger(href=`#${vino.slug}`)
                    .col.s12.m6.l3
                        .card
                            .card-image
                                img(src=`/images/${vino.slika || '.public/images/slika.jpg'}`)
                                .card-title.card-style
                                    p= vino.naziv
                            .card-action.brown.lighten-4.action-style
                                p= vino.zemlja.toUpperCase()

                #ukloni-modal.modal
                    .modal-content
                        h5 Da li zaista želite da uklonite #{vino.naziv} vino?
                    .modal-footer
                        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href=`/vino/${vino._id}/ukloni`) Ukloni
                        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Zatvori
                
                div(id= vino.slug).modal.modal-fixed-footer.vino-modal
                    .modal-content
                        .grid-container
                            .slika 
                                img.modal-slika(src=`/images/${vino.slika || 'slika.jpg'}`)
                            .tekst1
                                .row
                                    .col.l4.offset-l2
                                        h5.brown-text.right-align Naziv Vina:
                                        h5.brown-text.right-align Zemlja Porijekla:
                                    .col.l6
                                        h5.brown-text.left-align= vino.naziv
                                        h5.brown-text.left-align= vino.zemlja
                            .tekst2 
                                    .col.l4.offset-l2
                                        
                                        h5.brown-text.right-align Proizvođač:
                                        h5.brown-text.right-align Vrsta Vina:
                                        
                                        
                                    .col.l6
                                        
                                        h5.brown-text.left-align= vino.proizvodjac
                                        h5.brown-text.left-align= vino.vrsta
                                       
                                        
                            
                            .tekst3 
                                    .col.l4.offset-l2
                                        
                                        h5.brown-text.right-align Godina Berbe:
                                        
                                    .col.l6
                                        
                                        h5.brown-text.left-align= vino.godina
                                        
                            .tekst4 
                                    .col.l4.offset-l2
                                        p.brown-text.left-align.alk-i-boca Procenat Alkohola: #{vino.alkohol}%
                                    .col.l6
                                        p.brown-text.right-align.alk-i-boca-desno Veličina Boce: #{vino.velicina} litara
                    .modal-footer
                        - h.moment.locale('bs')
                            p.modal-datum dodao: #{h.moment(vino.datum).format('LL')} u #{h.moment().format('LT')}
                        
                        .fixed-action-btn.button-fab
                            a.btn-floating.btn-large.brown
                                i.large.material-icons chevron_left
                            ul
                                li
                                    a.btn-floating.red(href=`/vino/${vino._id}/ukloni`)
                                        i.material-icons clear
                                li
                                    a.btn-floating.green(href=`/vino/${vino._id}/uredi`)
                                        i.material-icons mode_edit
                                
                        
                        
                        // a.modal-action.modal-close.btn-flat(href=`/vino/${vino._id}/uredi`) Uredi vino
                        // a.modal-action.modal-trigger.modal-close.btn-flat(href="#ukloni-modal") Ukloni vino  
                        
